# dotenv environment variables file
.env
.env.test
.env.development
.env.production
PORTFOLIO_IMPLEMENTATION_PLAN.md
PORTFOLIO_V3_SITE_INVESTIGATION_PLAN.md 
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.next
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
